form {
  margin: auto;
  width: 60%;
  margin-top: 100px;
  padding: 10px;
  border: solid black 5px;
  background-color: #924a4a;
}

body {
	background-color:#1a1713;
	color:  #F7F5F8;
}

#storeName {
  font-size: 2.4em;
	text-align: center;
}
